<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TextiT - Homepage</title>
    <link rel="stylesheet" href="../static/css/loader.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Poppins:wght@300&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</head>
<body>
  <!-- start of loader -->
  <div id="preloader"></div>
  <!-- end of loader -->
    <!-- start of header -->
    <section class="p-5 pb-4">
      <nav class="navbar navbar-expand-lg bg-dark navbar-light fixed-top ">
          <div class="container-fluid">
              <nav class="navbar bg-dark">
                  <div class="container-fluid">
                    <a href="#" style="text-decoration: none;  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 
                    'Lucida Grande', 'Lucida Sans', Arial, sans-serif;"><h2 style="font-weight: 600; color: green;">WeeGo Tools</h2>
                  </a>
                  </div>
                </nav>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
              <div class="collapse navbar-collapse p-3" id="navbarNavDropdown">
                  <ul class="navbar-nav">
                    <li class="nav-item">
                      <a class="nav-link text-light" href="/templates/index.html" style="font-family: 'Nanum Gothic', sans-serif;">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-light" href="../templates/tools.html" style="font-family: 'Nanum Gothic', sans-serif;">Tools</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-light" href="../templates/paymentmain.html" style="font-family: 'Nanum Gothic', sans-serif;">Pricing</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-light" href="../templates/signup.html" style="font-family: 'Nanum Gothic', sans-serif;">Sign Up</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-light" href="../templates/contact.html" style="font-family: 'Nanum Gothic', sans-serif;">Contact Us</a>
                    </li>
                    
                  </ul>
                </div>
          </div>
        </nav>
     </section>
    <!-- end of header -->

       <section class="row p-4" id="homepage-offer">
           <div class="col-md-8">
                  <p class="mt-5 ms-5" style="font-weight: 600; color: green; font-size: 30px; font-family: 'Poppins', sans-serif;">World's Best Audio Converter software</p>
                  <p class="ms-5" style="font-weight: 600; font-size: 30px; font-family: 'Poppins', sans-serif; ">Subscribe to the best subscription plans</p>
                  <p class="ms-5" style="font-weight: 600; font-size: 30px; font-family: 'Nanum Gothic', sans-serif;">Unlimited Transcriptions just for you</p>
                  <a href="/templates/signup.html">
                    <button type="button" class="btn btn-success ms-5" style="border-radius: 100px;">Get Started</button>
                  </a>

           </div>
           <div class="col-md-4 mt-5">
            <div class="card" style="width: 18rem; background-color: #002408;">
              <div class="card-header">
                <h3 class="text-light text-center">Special Offer</h3>
              </div>
            </div>
            <br>
            <div class="card" style="width: 18rem;">
              <div class="card-header">
                    <div class="containerflex">
                      <h6 style="font-size: 35px; font-family: Arial, Helvetica, sans-serif;font-weight: 700;"><b>Ksh</b></h6> 
                      <p style="margin-left: 50px;font-size: 30px; font-family: Arial, Helvetica, sans-serif; font-weight: 800;"><b>200 /month</b></p>
                      <a href="/templates/offerpayment.html">
                        <button type="button" class="btn ms-5" style="border-radius: 100px;background-color: #002408;color: white;">Get Offer</button>
                      </a>
                    </div>
              </div>
            </div>
           </div>
       </section>

       <style>
        .card:hover:hover{
            transform: scale(1.1);
        }
        .card{
            transition: transform 0.2s ease;
        }
       </style>
       <br> <br>

           <!-- start of second last section -->
           <section class="row p-4">
            <div class="col-md-4">
                <div class="slide-right">
                  <h4 class="ps-5" style="letter-spacing: 2px; font-family: Arial, Helvetica, sans-serif; font-size: 28px;">Fast Transcription rate</h4>
                  <p class="text-muted ps-5" style="font-size: 18px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Enjoy fast Transcription rate with our software on the go. No coding skills required.World's Best Audio Converter software.Enjoy unlimited transcriptions just for you. Sign up today to get started. </p>
                </div>
            </div>
            <div class="col-md-8">
                   <img src="../static/pics/ssd.png" alt="" width="100%">
            </div>
      </section>
      <!-- end of second last section -->


      <!-- start of testimonials section -->
      <section class="gradient-custom">
        <h2 class="text-center pt-5" style="text-decoration: overline; font-weight: 700;">Testimonials</h2>
        <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-12">
            <div class="text-center mb-4 pb-2">
                <i class="fas fa-quote-left fa-3x text-white"></i>
            </div>
    
            <div class="card1">
                <div class="card-body px-4 py-5">
                <!-- Carousel wrapper -->
                <div id="#mycarousel" class="carousel carousel-slide carousel-dark" data-mdb-ride="carousel">
                    <!-- Indicators -->
                    <div class="carousel-indicators mb-0">
                    <button data-mdb-target="#carouselDarkVariant" data-mdb-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                    <button data-mdb-target="#carouselDarkVariant" data-mdb-slide-to="1"
                        aria-label="Slide 1"></button>
                    <button data-mdb-target="#carouselDarkVariant" data-mdb-slide-to="2"
                        aria-label="Slide 1"></button>
                    </div>
    
                    <!-- Inner -->
                    <div class="carousel-inner pb-5">
                    <!-- Single item -->
                    <div class="carousel-item active">
                        <div class="row d-flex justify-content-center">
                        <div class="col-lg-10 col-xl-8">
                            <div class="row">
                            <div class="col-lg-4 d-flex justify-content-center">
                              <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(9).webp"
                              class="rounded-circle shadow-1 mb-4 mb-lg-0" alt="woman avatar" width="150"
                              height="150" />
                            </div>
                            <div
                                class="col-9 col-md-9 col-lg-7 col-xl-8 text-center text-lg-start mx-auto mx-lg-0">
                                <h4 class="mb-4">John Smith - Journalist</h4>
                                <p class="mb-0 pb-3" style="font-family: 'Nanum Gothic', sans-serif;">
                                   WeeGo tools has really helped me achieve alot in my career as a journalist. I enjoy fast transcription rate service at a low subscription rate.I recommend it to any one out there who is dreaming to achieve. 
                                </p>
                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
    
                    <!-- Single item -->
                    <div class="carousel-item">
                        <div class="row d-flex justify-content-center">
                        <div class="col-lg-10 col-xl-8">
                            <div class="row">
                            <div class="col-lg-4 d-flex justify-content-center">
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(2).webp"
                                class="rounded-circle shadow-1 mb-4 mb-lg-0" alt="woman avatar" width="150"
                                height="150" />
                            </div>
                            <div
                                class="col-9 col-md-9 col-lg-7 col-xl-8 text-center text-lg-start mx-auto mx-lg-0">
                                <h4 class="mb-4">Lisa Cudrow - Graphic Designer</h4>
                                <p class="mb-0 pb-3">
                                  WeeGo tools has really helped me achieve alot in my career as a Graphic Designer. I enjoy fast transcription rate service at a low subscription rate.I recommend it to any one out there who is dreaming to achieve. 
                                </p>
                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
    
                    <!-- Single item -->
                    <div class="carousel-item">
                        <div class="row d-flex justify-content-center">
                        <div class="col-lg-10 col-xl-8">
                            <div class="row">
                            <div class="col-lg-4 d-flex justify-content-center">
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(9).webp"
                                class="rounded-circle shadow-1 mb-4 mb-lg-0" alt="woman avatar" width="150"
                                height="150" />
                            </div>
                            <div
                                class="col-9 col-md-9 col-lg-7 col-xl-8 text-center text-lg-start mx-auto mx-lg-0">
                                <h4 class="mb-4">John Smith - Marketing Specialist</h4>
                                <p class="mb-0 pb-3">
                                  WeeGo tools has really helped me achieve alot in my career as a Marketing Specialist. I enjoy fast transcription rate service at a low subscription rate.I recommend it to any one out there who is dreaming to achieve. 
                                </p>
                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                    <!-- Inner -->
    
                    <!-- Controls -->
                    <button class="carousel-control-prev" type="button" data-mdb-target="#carouselDarkVariant"
                    data-mdb-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-mdb-target="#carouselDarkVariant"
                    data-mdb-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <!-- Carousel wrapper -->
                </div>
            </div>
    
            <div class="text-center mt-4 pt-2">
                <i class="fas fa-quote-right fa-3x text-white"></i>
            </div>
            </div>
        </div>
        </div>
    </section>
<!-- end of testimonials section -->

    <!-- start of card section -->
    <section class="row p-5 ms-2">
      <h4 class="text-center" style="text-decoration: overline; font-size: 30px;">Pricing</h4>
      <div class="col-md-4 mt-3">
       <div class="card shadow" style="width: 18rem;">
         <div class="card-body">
           <h5 class="card-title text-center">Silver Plan</h5>
           <h6 class="card-subtitle mb-2 text-muted text-center">Best Subscription plans</h6>
           <p class="card-text ms-5"> <s class="text-muted">Ksh 300</s> <button type="button" class="btn" style="border-radius: 100px; height: 40px; background-color: green; color: white;">Save 17%</button></p> 
           <h5 class="card-title text-center" style="font-weight: 800; font-size: 30px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Ksh 250 /mon</h5>
           <a href="../templates/signup.html">
            <button type="button" class="btn ms-4" style="border-radius: 100px; width: 200px; background-color: green; color: white;">Select</button>
          </a>

         </div>
       </div>
      </div>

      <div class="col-md-4 mt-3">
        <div class="card shadow" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title text-center">Gold Plan</h5>
            <h6 class="card-subtitle mb-2 text-muted text-center">Best Subscription plans</h6>
            <p class="card-text ms-5"> <s class="text-muted">Ksh 400</s> <button type="button" class="btn" style="border-radius: 100px; height: 40px; background-color: green; color: white;">Save 25%</button></p> 
            <h5 class="card-title text-center" style="font-weight: 800; font-size: 30px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Ksh 300 /mon</h5>
            <a href="../templates/signup.html">
             <button type="button" class="btn ms-4" style="border-radius: 100px; width: 200px; background-color: green; color: white;">Select</button>
           </a>
 
          </div>
        </div>
      </div>

      
      <div class="col-md-4 mt-3">
        <div class="card shadow" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title text-center">Platinum Plan</h5>
            <h6 class="card-subtitle mb-2 text-muted text-center">Best Subscription plans</h6>
            <p class="card-text ms-5"> <s class="text-muted">Ksh 500</s> <button type="button" class="btn" style="border-radius: 100px; height: 40px; background-color: green; color: white;">Save 30%</button></p> 
            <h5 class="card-title text-center" style="font-weight: 800; font-size: 30px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Ksh 350 /mon</h5>
            <a href="../templates/signup.html">
             <button type="button" class="btn ms-4" style="border-radius: 100px; width: 200px; background-color: green; color: white;">Select</button>
           </a>
 
          </div>
        </div>
      </div>
</section>
    <!-- end of card section -->
         <br> <br>

         
      <!-- start of footer -->
         
        <section class="row" style="font-family: 'Nanum Gothic', sans-serif;">
          <footer class="row mt-5 p-3 pt-4" style="background-color: black;">
              <div class="col-md-3">
                  <p class="text-light ms-3 mb-0" style="font-size: 25px;"><b>Customer care</b></p>
                  <p class="text-light ms-3">info@weegotools.com</p>
              </div>
              <div class="col-md-3">
                  <h3 style="color: white;" style="font-size: 25px;">The Company</h3>
                  <a href="/" style="text-decoration: none; color: rgb(255, 247, 247);">About Us</a> <br>
                  <a href="/" style="text-decoration: none; color: rgb(255, 255, 255);">Pricing</a> <br>
              </div>
              <div class="col-md-3">
                  <h3 style="color: white; font-size: 25px;" >Support</h3>
                  <a href="../templates/contact.html" style="text-decoration: none; color: rgb(255, 247, 247);">NewsLetter</a> <br>
                  <a href="../templates/signup.html" style="text-decoration: none; color: rgb(255, 247, 247);">Create Account</a>
              </div>
                     <div class="col-md-3">
                         <h3 style="color: white; font-size: 25px; font-size: 25px;">Help</h3>
                         <a href="#" style="text-decoration: none; color: rgb(255, 247, 247);">FAQS</a> <br>
                         <a href="#" style="text-decoration: none; color: rgb(255, 247, 247);">Affiliate</a>
                     </div>
                     <p class="text-light text-center mt-5 pb-4"> &copy 2024 WeeGo Tools Company | Developed by Wasike Edward</p>
          </footer>
      </section>
    <!-- end of footer -->

    <!--start of scccrriippppttt -->
    <script>
      var loader = document.getElementById("preloader");
      window.addEventListener("load", function(){
          loader.style.display = "none";
      })
  </script>
    <!-- end of sccccrippptttt -->
</body>
</html>