<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complete Payment with Paypal</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/loader.css">
</head>
<body> 
  <div id="preloader"></div>
         <a href="/templates/index.html"> <h1 class="text-center mt-3" style="text-decoration: underline;
          color: black;">Back Home</h1></a>
    <style>
        h1{
            color:#fff;
            font-size: 25px;
        }
        #smart-button-container{
            padding-top: 180px;
        }
         
         body{
            background-image: url('../static/pics/offerbackground.jpg');
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-position: center;
            background-blend-mode: hue;
            background-attachment: fixed;
        }
    </style>   

    <div id="smart-button-container">
        <div style="text-align: center;">
            
            <h1>Complete Your Payment With Paypal</h1>
          <div id="paypal-button-container"></div>
        </div>
      </div>
    <script src="https://www.paypal.com/sdk/js?client-id=sb&enable-funding=venmo&currency=USD" data-sdk-integration-source="button-factory"></script>
    <script>
      function initPayPalButton() {
        paypal.Buttons({
          style: {
            shape: 'pill',
            color: 'blue',
            layout: 'vertical',
            label: 'donate',
            
          },
  
          createOrder: function(data, actions) {
            return actions.order.create({
              purchase_units: [{"amount":{"currency_code":"USD","value":1,"breakdown":{"item_total":{"currency_code":"USD","value":1}}},"items":[{"name":"item name","unit_amount":{"currency_code":"USD","value":1},"quantity":"1","category":"DONATION"}]}]
            });
          },
  
          onApprove: function(data, actions) {
            return actions.order.capture().then(function(orderData) {
              
              // Full available details
              console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
  
              // Show a success message within this page, e.g.
              const element = document.getElementById('paypal-button-container');
              element.innerHTML = '';
              element.innerHTML = '<h3>Thank you for your payment!</h3>';
  
              // Or go to another URL:  actions.redirect('thank_you.html');
              
            });
          },
  
          onError: function(err) {
            console.log(err);
          }
        }).render('#paypal-button-container');
      }
      initPayPalButton();
    </script>

<script>
  var loader = document.getElementById("preloader");
  window.addEventListener("load", function(){
      loader.style.display = "none";
  })
</script>
</body>
</html>